<!DOCTYPE html>

<html>

<head>
	<link href="Brand.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<div class="header">
		<div class="head1">
			<img class="logo" src="https://static.vecteezy.com/system/resources/thumbnails/010/994/248/small/puma-logo-white-symbol-clothes-design-icon-abstract-football-illustration-with-black-background-free-vector.jpg">
			<h3 class="font-head">Gift Guide</h3>
			<h3 class="font-head">Women</h3>
			<h3 class="font-head">Men</h3>
			<h3 class="font-head">Kids</h3>
			<h3 class="font-head">FENTY x PUMA</h3>
			<h3 class="font-head">Classics</h3>
			<h3 class="font-head">Collaborations</h3>
			<h3 class="font-head">Sport</h3>
			<h3 class="font-head">Sale</h3>
		</div>
		<div class="head2">
			<button class="bt1"> <i class="fa-solid fa-magnifying-glass"></i> <p class="font-bt">SEARCH</p></button>
			<div class="head2-1">
				<i class="fa-regular fa-heart"></i>
				<i class="fa-solid fa-cart-shopping"></i>
				<i class="fa-solid fa-user"></i>
			</div>
		</div>
	</div>
	
	<div class="bodies">
		<div class="body1">
			<h1 class="font-body1">FENTY x PUMA</h1>
			<h3 class="font-body2">THE AVANTI BY RIHANNA</h3>
			<button class="bt2"> <p class="font-bt2">SHOP NOW</p> </button>
		</div>
		
		<div class="body2">
			<h2 class="font-body3">SHOP BY STYLE</h2>
			<div class="body-img">

				<a href="Shop1.html" > <img class="img1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkAq4tfB4G9nZ8c_1wDYh1XXyx7-UeiHsQ9Hqyr4tJK3dWzJWBSAxxZ6ZKgTfZjSgr_II&usqp=CAU">  </a>
				<a href="Shop1.html" > <img class="img2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiWGwHfrBI9O_eul9JbJaDoqKQoaZB2iX24hHJrdFUWxOWk28-gjo5_sS-jETE_ObnaMQ&usqp=CAU"> </a>
				<a href="Shop1.html" > <img class="img3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgWpss8UJKCv7Mo2d4CVXJEzGqcP2fWJ3JArjAe-c2o066QMNhkiagMuk8tRt-FDIsDdw&usqp=CAU"> </a>
				<a href="Shop1.html" > <img class="img4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_X5UnxAlzJowhnoXXgP1ylnUIVeSHdPMNsl9n3KB3mgtOsvCR7ebl8ZcX0qmRmTPmkjM&usqp=CAU"> </a>
				<p class="font-img1">SUEDE</p>
				<p class="font-img2">PALERMO</p>
				<p class="font-img3">CALI COLLECTION</p>
				<p class="font-img4">RS COLLECTION</p>
			</div>
		</div>
		
		<div class="body3">
			<h2 class="font-body4">FULL FITS FOR COLD WEATHER</h2>
			<div class="body-img">
				<img class="img5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTXrQ6Zq1Om_6PDjSfguWGry8wvxJGe5hwRS2QH75mdoo0UTZxq4MCRD4ZL4pAYuuW01Q&usqp=CAU">
				<p class="font-img5">HOODIES + SWEATSHIRTS</p>
				<img class="img6" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlFEYypo9bKmpxwLsQUqA7EVshkqEh2NhH6xcUjinHmZCa1n-Go49JOz6fcurOzIcwxzA&usqp=CAU">
				<p class="font-img6">MATCHING SETS</p>
				<img class="img7" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdzCsixauqYPVSfB0um2whXsIBZ6HfS4pXcsbItd-iMsGlzEKp5nWwbWMu7k5q2tI9JVQ&usqp=CAU">
				<p class="font-img7">OUTERWEAR</p>
				<img class="img8" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSe5_3gx1qgeqRgN6qe3v1i5vxr7nXTHthTjTnhgjpglxZehkcxhr666VqG-6iVHCVAC9g&usqp=CAU">
				<p class="font-img8">BOOTS + MIDS</p>
			</div>
		</div>
		
		<div class="end">
			<div class="box1">
				<div class="box1-1">
					<h1 class="font-end">SUPPORT</h1>
					<ul>
						<li>Contact Us</li>
						<li>FAQ</li>
						<li>Buy a Gift Card</li>
						<li>Gift Card Balance</li>
						<li>Terms & Conditions</li>
						<li>Privacy Policy</li>
						<li>Transparency in Supply Chain</li>
						<li>Promotion Exclusions</li>
					</ul>
				</div>
				
				<div class="box1-2">
					<ul>
						<li>Shipping and Delivery</li>
						<li>Return Policy</li>
						<li>Store Locator</li>
						<li>Service Discount</li>
						<li>PUMA NYC Flagship Store</li>
						<li>Student Discount</li>
						<li>Do Not Sell or Share My Information</li>
						<li>Cookie Settings</li>
					</ul>
				</div>
				
				<div class="box1-3">
					<h1 class="font-end">ABOUT</h1>
					<ul>
						<li>Company</li>
						<li>Corporate News</li>
						<li>Press Center</li>
						<li>#REFORM</li>
						<li>Investors</li>
						<li>Sustainability</li>
						<li>Careers</li>
					</ul>
				</div>
				
				<div class="box1-4">
					<h1 class="font-end">STAY UP TO DATE</h1>
					<p class="font-end2">Sign Up for Email<p>
				</div>
			</div>
			<div class="box2">
				<div class="icon">
					<i class="fa-brands fa-youtube"></i>
					<i class="fa-brands fa-twitter"></i>
					<i class="fa-brands fa-pinterest"></i>
					<i class="fa-brands fa-instagram"></i>
					<i class="fa-brands fa-facebook"></i>
				</div>
				
				<div class="language">
					<button class="bt3"> <p class="font-end3"> UNITED STATES </p> </button>
				</div>
				<div class="address">
					<p class="font-end4">© PUMA NORTH AMERICA, INC.</p>
					<u class="font-end4">IMPRINT AND LEGAL DATA</u>
					<p class="font-end4">WEB ID: 748 809 241</p>
				</div>
			</div>
		</div>
	</div>

</body>

</html>