<html>
	<head>
		<link href="Shop.css" type="text/css" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	
	<body>
		<div class="header">
			<div class="head1">
				<img class="logo" src="https://static.vecteezy.com/system/resources/thumbnails/010/994/248/small/puma-logo-white-symbol-clothes-design-icon-abstract-football-illustration-with-black-background-free-vector.jpg">
				<h3 class="font-head">Gift Guide</h3>
				<h3 class="font-head">Women</h3>
				<h3 class="font-head">Men</h3>
				<h3 class="font-head">Kids</h3>
				<h3 class="font-head">FENTY x PUMA</h3>
				<h3 class="font-head">Classics</h3>
				<h3 class="font-head">Collaborations</h3>
				<h3 class="font-head">Sport</h3>
				<h3 class="font-head">Sale</h3>
			</div>
			<div class="head2">
				<button class="bt1"> <i class="fa-solid fa-magnifying-glass"></i> <p class="font-bt">SEARCH</p></button>
				<div class="head2-1">
					<i class="fa-regular fa-heart"></i>
					<i class="fa-solid fa-cart-shopping"></i>
					<i class="fa-solid fa-user"></i>
				</div>
			</div>
		</div>
		
		<div class="bodies">
			<div class="body1">
				<h1 class="font-body1" > SUEDE</h1>
				<div class="shoes">
					<div>
						<p class="font-shoes1"> Suede Classic Sneakers </p>
						<p class="price" > $75.00</p>
						<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/374915/01/sv01/fnd/PNA/fmt/png/Suede-Classic-XXI-Sneakers" >
					</div>
					
					<div>
						<p class="font-shoes1"> Suede Classic Sneakers </p>
						<p class="price" > $52.99</p>
						<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/374915/79/sv01/fnd/PNA/fmt/png/Suede-Classic-XXI-Sneakers" >
					</div>
					
					<div>
						<p class="font-shoes1"> Suede Classic Sneakers </p>
						<p class="price" > $75.00</p>
						<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/374915/03/sv01/fnd/PNA/fmt/png/Suede-Classic-XXI-Sneakers" >
					</div>
					
					<div>
						<p class="font-shoes1">Suede Classic Women's Sneakers</p>
						<p class="price" >$52.99</p>
						<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/381410/85/sv01/fnd/PNA/fmt/png/Suede-Classic-XXI-Women's-Sneakers" >
					</div>
					
					<div>
						<p class="font-shoes1">Suede Classic Women's Sneakers</p>
						<p class="price" >$52.99</p>
						<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/381410/91/sv01/fnd/PNA/fmt/png/Suede-Classic-XXI-Women's-Sneakers" >
					</div>
					
					<div>
						<p class="font-shoes1">Suede Classic Women's Sneakers</p>
						<p class="price" >$60.00</p>
						<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/381410/70/sv01/fnd/PNA/fmt/png/Suede-Classic-XXI-Women's-Sneakers" >
					</div>
					
					<div>
						<p class="font-shoes1">Suede Classic Sneakers Big Kids</p>
						<p class="price" > $41.99</p>
						<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/380560/04/sv01/fnd/PNA/fmt/png/Suede-Classic-XXI-Sneakers-Big-Kids" >
					</div>
					
					<div>
						<p class="font-shoes1">Suede Classic Sneakers Big Kids</p>
						<p class="price" > $60.00</p>
						<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/380560/13/sv01/fnd/PNA/fmt/png/Suede-Classic-XXI-Sneakers-Big-Kids" >
					</div>
					
					<div>
						<p class="font-shoes1">Suede Classic Sneakers Big Kids</p>
						<p class="price" > $85.00</p>
						<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/380560/05/sv01/fnd/PNA/fmt/png/Suede-Classic-XXI-Sneakers-Big-Kids" >
					</div>
					
					<div>
						<p class="font-shoes1"> Suede Mid Sneakers</p>
						<p class="price" > $85.00</p>
						<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/380205/02/sv01/fnd/PNA/fmt/png/Suede-Mid-XXI-Sneakers">
					</div>
					
					<div>
						<p class="font-shoes1"> Suede Mid Sneakers</p>
						<p class="price" > $85.00</p>
						<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/380205/16/sv01/fnd/PNA/fmt/png/Suede-Mid-XXI-Sneakers">
					</div>
					
					<div>
						<p class="font-shoes1"> Suede Mid Sneakers</p>
						<p class="price" >$85.00</p>
						<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/380205/03/sv01/fnd/PNA/fmt/png/Suede-Mid-XXI-Sneakers">
					</div>					
				</div>
			</div>
				
				
				<div class="body2">
					<h1 class="font-body2" > PALERMO</h1>
					<div class="shoes">
						<div>
							<p class="font-shoes1"> Palermo Sneakers </p>
							<p class="price" > $90.00</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/396463/07/sv01/fnd/PNA/fmt/png/Palermo-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1"> Palermo Women's Leather Sneakers </p>
							<p class="price" > $90.00</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/397647/03/sv01/fnd/PNA/fmt/png/Palermo-Women's-Leather-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1"> Palermo Leather Big-Kids' Sneakers </p>
							<p class="price" > $70.00</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/397275/01/sv01/fnd/PNA/fmt/png/Palermo-Leather-Big-Kids'-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1">Palermo Special Men's Sneakers</p>
							<p class="price" >$90.00</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/397549/01/sv01/fnd/PNA/fmt/png/Palermo-Special-Men's-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1">Palermo Toddlers' Sneakers</p>
							<p class="price" > $60.00</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/397274/07/sv01/fnd/PNA/fmt/png/Palermo-Toddlers'-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1">Palermo Special Women's Sneakers</p>
							<p class="price" >$90.00</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/397858/01/sv01/fnd/PNA/fmt/png/Palermo-Special-Women's-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1">Palermo Women's Sneakers</p>
							<p class="price" >$90.00</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/397643/02/sv01/fnd/PNA/fmt/png/Palermo-Women's-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1">Palermo Little-Kids' Sneakers</p>
							<p class="price" > $65.00</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/397273/07/sv01/fnd/PNA/fmt/png/Palermo-Little-Kids'-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1">Palermo Leather Little-Kids' Sneakers</p>
							<p class="price" > $65.00</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/397276/01/sv01/fnd/PNA/fmt/png/Palermo-Leather-Little-Kids'-Sneakers" >
						</div>					
					</div>
				</div>	
			
				<div class="body3">
					<h1 class="font-body3" > CALI COLLECTION </h1>
					<div class="shoes">
						<div>
							<p class="font-shoes1">Cali Wedge-Women's Sneakers </p>
							<p class="price" > $90.00</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/373438/02/sv01/fnd/PNA/fmt/png/Cali-Wedge-Women's-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1"> Cali Wedge-Women's Sneakers</p>
							<p class="price" > $90.00</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/373438/01/sv01/fnd/PNA/fmt/png/Cali-Wedge-Women's-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1"> Cali Women's Sneakers </p>
							<p class="price" > $80.00</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/369155/04/sv01/fnd/PNA/fmt/png/Cali-Women's-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1">PUMA NYC Cali Bold Women's Sneakers</p>
							<p class="price" >$90.00</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/372309/04/sv01/fnd/PNA/fmt/png/PUMA-NYC-Cali-Bold-Women's-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1">Cali Dream Thrifted Women's Sneakers</p>
							<p class="price" > $71.99 </p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/389869/02/sv01/fnd/PNA/fmt/png/Cali-Dream-Thrifted-Women's-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1">Cali Dream Animal Print Toddlers' Shoes</p>
							<p class="price" >$39.99</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/392001/01/sv01/fnd/PNA/fmt/png/Cali-Dream-Animal-Print-Toddlers'-Shoes" >
						</div>
						
						<div>
							<p class="font-shoes1">Cali Dream Animal Print Little Kids' Shoes</p>
							<p class="price" >$47.99</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/392000/02/sv01/fnd/PNA/fmt/png/Cali-Dream-Animal-Print-Little-Kids'-Shoes" >
						</div>
						
						<div>
							<p class="font-shoes1">Cali Dream West Coast Leather Women's Sneakers</p>
							<p class="price" >$90.00 </p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/392730/01/sv01/fnd/PNA/fmt/png/Cali-Dream-West-Coast-Leather-Women's-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1">Cali Dream Wooly Women's- neakers</p>
							<p class="price" >$66.99</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/387149/01/sv01/fnd/PNA/fmt/png/Cali-Dream-Wooly-Women's-Sneakers" >
						</div>					
					</div>				
				</div>
				
				<div class="body4">
					<h1 class="font-body4" > RS COLLECTION </h1>
					<div class="shoes">
						<div>
							<p class="font-shoes1"> PUMA NYC RS X Park Flagship Men's Sneakers </p>
							<p class="price" > $87.99</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/393393/01/sv01/fnd/PNA/fmt/png/PUMA-NYC-RS-X-Park-Flagship-Men's-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1"> RS X Cuddle Women's- neakers </p>
							<p class="price" > $66.99</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/385517/02/sv01/fnd/PNA/fmt/png/RS-X-Cuddle-Women's-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1"> RS X Faded Daytona Sneakers  </p>
							<p class="price" > $76.99</p>
							<img class="img" src=" https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/394981/01/sv01/fnd/PNA/fmt/png/RS-X-Faded-Daytona-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1">RS X ames Sneakers</p>
							<p class="price" >$110.00</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/393161/01/sv01/fnd/PNA/fmt/png/RS-X-Games-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1">RS X Soft Women's Sneakers</p>
							<p class="price" >$110.00 </p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/393772/05/sv01/fnd/PNA/fmt/png/RS-X-Soft-Women's-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1">RS X rand Love-Men's Sneakers</p>
							<p class="price" >$110.00</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/393822/01/sv01/fnd/PNA/fmt/png/RS-X-Brand-Love-Men's-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1"> RS X Faded-Women's Sneakers</p>
							<p class="price" >$69.99</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/392884/02/sv01/fnd/PNA/fmt/png/RS-X-Faded-Women's-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1">RS X Brighter Days Vibes Women's Sneakers</p>
							<p class="price" > $76.99</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/392708/01/sv01/fnd/PNA/fmt/png/RS-X-Brighter-Days-Vibes-Women's-Sneakers" >
						</div>
						
						<div>
							<p class="font-shoes1">Scuderia-Ferrari-RS-X-Sneakers</p>
							<p class="price" >$95.99</p>
							<img class="img" src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/307818/01/sv01/fnd/PNA/fmt/png/Scuderia-Ferrari-RS-X-Sneakers" >
						</div>					
					</div>				
				</div>
		</div>
		
		<div class="end">
			<div class="box1">
				<div class="box1-1">
					<h1 class="font-end">SUPPORT</h1>
					<ul>
						<li>Contact Us</li>
						<li>FAQ</li>
						<li>Buy a Gift Card</li>
						<li>Gift Card Balance</li>
						<li>Terms & Conditions</li>
						<li>Privacy Policy</li>
						<li>Transparency in Supply Chain</li>
						<li>Promotion Exclusions</li>
					</ul>
				</div>
				
				<div class="box1-2">
					<ul>
						<li>Shipping and Delivery</li>
						<li>Return Policy</li>
						<li>Store Locator</li>
						<li>Service Discount</li>
						<li>PUMA NYC Flagship Store</li>
						<li>Student Discount</li>
						<li>Do Not Sell or Share My Information</li>
						<li>Cookie Settings</li>
					</ul>
				</div>
				
				<div class="box1-3">
					<h1 class="font-end">ABOUT</h1>
					<ul>
						<li>Company</li>
						<li>Corporate News</li>
						<li>Press Center</li>
						<li>#REFORM</li>
						<li>Investors</li>
						<li>Sustainability</li>
						<li>Careers</li>
					</ul>
				</div>
				
				<div class="box1-4">
					<h1 class="font-end">STAY UP TO DATE</h1>
					<p class="font-end2">Sign Up for Email<p>
				</div>
			</div>
			<div class="box2">
				<div class="icon">
					<i class="fa-brands fa-youtube"></i>
					<i class="fa-brands fa-twitter"></i>
					<i class="fa-brands fa-pinterest"></i>
					<i class="fa-brands fa-instagram"></i>
					<i class="fa-brands fa-facebook"></i>
				</div>
				
				<div class="language">
					<button class="bt3"> <p class="font-end3"> UNITED STATES </p> </button>
				</div>
				<div class="address">
					<p class="font-end4">© PUMA NORTH AMERICA, INC.</p>
					<u class="font-end4">IMPRINT AND LEGAL DATA</u>
					<p class="font-end4">WEB ID: 748 809 241</p>
				</div>
			</div>
		</div>
	</body>
	
</html>
