* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body{
	width: 1700px;
}

.header{
	width:1700px;
	height: 80px;
	background-color: #000000;
	display: flex;
	flex-direction: row;
}

.head1{
	width: 1000px;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.logo{
	width: 70px;
	height: 50px;
	margin-top: 15px;
	margin-left: 15px;
}

.font-head{
	margin-top: 30px;
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
}

.font-head, .font-bt, .font-body1, .font-body2, .font-body3, .font-body4, .font-shoes1, .price, li, .font-end, .font-end2, .font-end3, .font-end4{
	font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;;
}

.head2{
	width: 700px;
	height: 80px;
	position: relative;
}

.bt1{
	width: 170px;
	height: 35px;
	border: 0.2px solid #ffffff;
	background-color: #000000;
	margin-left: 200px;
	margin-top: 20px;
	position: relative;
}

.fa-magnifying-glass, .font-bt{
	color: #ffffff;
	position: absolute;
}

.fa-magnifying-glass{
	bottom: 8px;
	font-size: 20px;
	margin-left: -65px;
}

.font-bt{
	font-size: 18px;
	font-weight: 550;
	margin-left: 65px;
	bottom: 7px;
}

.fa-heart, .fa-cart-shopping, .fa-user, li{
	color: #ffffff;
	font-size: 27px;
}

.head2-1{
	width: 200px;
	height: 50px;
	margin-left: 420px;
	margin-bottom: 25px;	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: absolute;
	bottom: -20px;
}



.shoes{
	width: 1500px;
	height: 500px;
	border: 1px solid #000000;
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-left: 110px;
	border: 1px solid #ffffff;
}

.img{
	width: 500px;
	height: 500px;
	border: 1px solid #dfe0e1;
}

.font-shoes1{
	width: 355px;
	height: 25px;
	font-size: 20px;
	font-weight: 600;
	position: absolute;
	bottom: 23px;
	margin-left: 20px;
}

.price, .price1{
	width: 35px;
	height: 25px;
	font-size: 20px;
	font-weight: 600;
	position: absolute;
	bottom: 23px;
	margin-left: 405px;
}

.font-body1, .font-body2, .font-body3, .font-body4{
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 60px;
}
 .body4{
	 margin-bottom: 100px;
 }
.end{
	width: 1700px;
	height: 520px;
	background-color: #000000;
	position: relative;
}

.box1{
	width: 1700px;
	height: 350px;
}

.box1-1, .box1-2{
	position: absolute;
	bottom: 170px;
}

.box1-1{
	margin-left: 200px;
}

.box1-2{
	margin-left: 550px;
}

.box1-3{
	margin-left: 950px;
	position: absolute;
	bottom: 200px;
}

.box1-4{
	margin-left: 1250px;
	position: absolute;
	bottom: 385px;
}

ul{
	list-style-type: none; 
}

.font-end{
	font-size: 27px;
	font-weight: 650;
	color: #ffffff;
	margin-bottom:10px;
}

li, .font-end2{
	color:#ffffff;
	font-size: 20px;
	line-height: 30px;
}

.box2{
	width:1500px;
	height: 150px;
	border-top: 0.5px solid #ffffff;
	margin-left: 70px;
	margin-top: 20px;
}

.icon{
	width: 300px;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 40px;
}

.fa-youtube, .fa-twitter, .fa-pinterest, .fa-instagram, .fa-facebook{
	color: #ffffff;
	font-size: 25px;
}

.language{
	margin-left: 650px;

}

.bt3{
	width: 220px;
	height:55px;
	background-color: #000000;
	border: 1px solid #ffffff;
	border-radius: 5px;
	position: absolute;
	bottom: 65px;
}

.font-end3{
	color: #ffffff;
	font-size: 20px;
	font-weight: 550;
}

.address{
	margin-left:1350px;
	width: 200px;
	height:60px;
	position: absolute;
	bottom: 60px;
}

.font-end4{
	color: #9da8af;
	font-size: 10px;
	line-height: 20px;
}
